In [1]:
import pandas as pd

In [2]:
df = pd.read_json("product_output.jsonl")

In [3]:
df

,name,product_summary,product_tech_spec,product_addl_info,seller,seller_link,freq_bought,freq_bought_link,link_to_all_reviews
0,None,None,None,None,None,None,NaN,NaN,None
1,None,None,None,None,None,None,NaN,NaN,None
2,"Rugged Smartphone, F150 Unlocked Phones 8000mA...",None,None,None,None,None,NaN,NaN,None
3,None,None,None,None,None,None,NaN,NaN,None
4,None,None,None,None,None,None,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...
2470,None,None,None,None,None,None,NaN,NaN,None
2471,None,None,None,None,None,None,NaN,NaN,None
2472,None,None,None,None,None,None,NaN,NaN,None
2473,None,None,None,None,None,None,NaN,NaN,None
2474,None,None,None,None,None,None,NaN,NaN,None

In [4]:
df = df.dropna(subset=['name'])

In [7]:
#df = df.reset_index()
#df

In [5]:
df

,name,product_summary,product_tech_spec,product_addl_info,seller,seller_link,freq_bought,freq_bought_link,link_to_all_reviews
2,"Rugged Smartphone, F150 Unlocked Phones 8000mA...",None,None,None,None,None,NaN,NaN,None
18,"Find X2 Neo - Smartphone 256GB, 12GB RAM, Sing...",None,None,"[{'info': 'Product Dimensions', 'value': '6.28...",None,None,NaN,NaN,None
19,Gigaset GS4 Smartphone - Made in Germany - lei...,None,None,None,None,None,NaN,NaN,None
52,"OUKITEL Dual-SIM Android10 Smartphone 6,4 Zoll...",None,None,"[{'info': 'Product Dimensions', 'value': '6.19...",None,None,NaN,NaN,None
55,Bluetooth Speakers-23,None,None,"[{'info': 'Product Dimensions', 'value': '5.98...",None,None,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...
2439,Topeak Bike Bags Handlebar Smartphone DryBag 5...,"[{'info': 'Brand', 'value': '‎Topeak'}, {'info...","[{'info': 'Standing screen display size', 'val...","[{'info': 'Customer Reviews', 'value': '/* * F...",None,None,NaN,NaN,None
2442,Sony Mobile Communications Xperia E5 (f3311) B...,None,None,"[{'info': 'Product Dimensions', 'value': '2.72...",None,None,NaN,NaN,None
2453,Wireless Lavalier Microphone 2.4G Dual-Channel...,None,None,"[{'info': 'Item Weight', 'value': '1.44 pounds...",None,None,NaN,NaN,/Dual-Channel-Lark-150-Ultra-Light-Transmitter...
2454,"Moto G9 Power 2021 XT2091, 4G LTE, Internation...",None,None,"[{'info': 'Product Dimensions', 'value': '6.78...",✅ Blazing Prices,https://www.amazon.com/gp/help/seller/at-a-gla...,NaN,NaN,/Snapdragon-Unlocked-T-Mobile-International-Me...
2466,Huawei P8 titanium grau,None,None,"[{'info': 'Product Dimensions', 'value': '2.83...",None,None,NaN,NaN,None

In [20]:
#df["price"]= pd.to_numeric(df["price"])

In [6]:
df.to_csv('smartphones_product.csv')

In [7]:
df.to_excel('smartphones_product.xlsx')

In [8]:
df.to_json('smartphones_product.jsonl')