In [1]:
import pandas as pd

In [2]:
df = pd.read_json("product_output.jsonl")

In [3]:
df

,name,product_summary,product_tech_spec,product_addl_info,seller,seller_link,freq_bought,freq_bought_link,link_to_all_reviews
0,None,None,None,None,None,None,NaN,NaN,None
1,None,None,None,None,None,None,NaN,NaN,None
2,None,None,None,None,None,None,NaN,NaN,None
3,None,None,None,None,None,None,NaN,NaN,None
4,None,None,None,None,None,None,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...
2206,None,None,None,None,None,None,NaN,NaN,None
2207,None,None,None,None,None,None,NaN,NaN,None
2208,None,None,None,None,None,None,NaN,NaN,None
2209,None,None,None,None,None,None,NaN,NaN,None
2210,None,None,None,None,None,None,NaN,NaN,None

In [4]:
df_1 = df[(df["name"] == "None")]
df_1

Empty DataFrame
Columns: [name, product_summary, product_tech_spec, product_addl_info, seller, seller_link, freq_bought, freq_bought_link, link_to_all_reviews]
Index: []

In [5]:
df

,name,product_summary,product_tech_spec,product_addl_info,seller,seller_link,freq_bought,freq_bought_link,link_to_all_reviews
0,None,None,None,None,None,None,None,None,None
1,None,None,None,None,None,None,None,None,None
2,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None,None
4,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...
2125,None,None,None,None,None,None,None,None,None
2126,Moxking Wired Durable Metal Earphones Earbuds ...,None,None,"[{'info': 'Product Dimensions', 'value': '5.91...",Joysico,https://www.amazon.com/gp/help/seller/at-a-gla...,None,None,/Moxking-Earphones-Microphone-Isolating-Headph...
2127,None,None,None,None,None,None,None,None,None
2128,None,None,None,None,None,None,None,None,None
2129,None,None,None,None,None,None,None,None,None

In [4]:
df = df.dropna(subset=['name'])

In [7]:
#df = df.reset_index()
#df

In [5]:
df

,name,product_summary,product_tech_spec,product_addl_info,seller,seller_link,freq_bought,freq_bought_link,link_to_all_reviews
20,Amazon Basics Urban Backpack for Laptops up to...,"[{'info': 'Brand', 'value': 'â€ŽAmazon Basics'},...","[{'info': 'Standing screen display size', 'val...","[{'info': 'Customer Reviews', 'value': '/* * F...",None,None,NaN,NaN,/AmazonBasics-Urban-Backpack-Laptops-15-Inches...
32,Laptop PC 11.6 Inch TECLAST F5 360Â° Convertibl...,"[{'info': 'Item model number', 'value': 'â€ŽF5'}...","[{'info': 'Standing screen display size', 'val...","[{'info': 'ASIN', 'value': 'B089KJPHVN'}, {'in...",None,None,NaN,NaN,None
39,"Hseok 15.6-Inch Laptop Case Sleeve, Environmen...","[{'info': 'Brand', 'value': 'â€ŽHseok'}, {'info'...","[{'info': 'Standing screen display size', 'val...","[{'info': 'Customer Reviews', 'value': '/* * F...",Hseok,https://www.amazon.com/gp/help/seller/at-a-gla...,NaN,NaN,/Hseok-15-6-Inch-Environmental-Friendly-Spill-...
42,"Amazon Basics 13.3"" Professional Laptop Case S...","[{'info': 'Brand', 'value': 'â€ŽAmazon Basics'},...","[{'info': 'Standing screen display size', 'val...","[{'info': 'Customer Reviews', 'value': '/* * F...",None,None,NaN,NaN,/AmazonBasics-Professional-Laptop-Sleeve-Retra...
51,Bewahly Vertical Laptop Stand[Adjustable Size]...,None,None,"[{'info': 'Product Dimensions', 'value': '5.91...",Bewahly US,https://www.amazon.com/gp/help/seller/at-a-gla...,NaN,NaN,/Bewahly-Vertical-Adjustable-Aluminum-Suitable...
...,...,...,...,...,...,...,...,...,...
2183,Green Cell Extended Series MU06 Battery for HP...,None,None,"[{'info': 'Product Dimensions', 'value': '8.07...",None,None,NaN,NaN,None
2193,Alfheim Laptop Backpack for Men Women Fits 14 ...,None,"[{'info': 'Brand Name', 'value': 'â€ŽAlfheim'}, ...","[{'info': 'ASIN', 'value': 'B07Y69HY35'}, {'in...",None,None,NaN,NaN,None
2195,[5-Yrs Free Data Recovery] Gigastone 128GB 2-P...,None,None,"[{'info': 'Package Dimensions', 'value': '5.51...",Gigastone America,https://www.amazon.com/gp/help/seller/at-a-gla...,NaN,NaN,/Gigastone-2-Pack-Recording-Nintendo-Compatibl...
2202,Logitech Slim Combo for iPad 5./6. Generation ...,None,None,"[{'info': 'Product Dimensions', 'value': '9.69...",None,None,NaN,NaN,None
2205,"MiiKARE Aluminium Laptop StÃ¤nder, hÃ¶henverstel...",None,None,"[{'info': 'Package Dimensions', 'value': '11.2...",None,None,NaN,NaN,None

In [20]:
#df["price"]= pd.to_numeric(df["price"])

In [6]:
df.to_csv('Laptops_product.csv')

In [7]:
df.to_excel('Laptops_product.xlsx')

In [8]:
df.to_json('Laptops_product.jsonl')